<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="cn.edu.szu.startup"
         point="org.eclipse.ui.startup">
      <startup
            class="cn.edu.szu.monitor.Monitor">
      </startup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="cn.edu.szu.monitor.CustomConsoleLineTrackers"
            id="eclipse-monitor-kits-plugin.consoleLineTracker"
            processType="java">
      </consoleLineTracker>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Translate"
            name="Translate">
      </category>
      <view
            category="Translate"
            class="cn.edu.szu.translator.view.TranslateView"
            icon="icons/menu.png"
            id="cn.edu.szu.translateView"
            name="百度翻译"
            restorable="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.samsu.wordstranslation.toolbar">
            <command
                  commandId="org.samsu.wordstranslation.popupActionCommand"
                  icon="icons/menu.png"
                  style="push"
                  tooltip="百度翻译">
            </command>
         </toolbar>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="cn.edu.szu.monitor.toolbar">
            <command
                  commandId="cn.edu.szu.monitor.popupActionCommand"
                  icon="icons/monitor.png"
                  style="push"
                  tooltip="监听器">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.samsu.wordstranslation.popupActionCommand"
            name="name">
         <defaultHandler
               class="cn.edu.szu.translator.util.OpenDialogHandler">
            <parameter
                  name="WordsTranslation.parameter1"
                  value="WordsTranslation.parameter1">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="cn.edu.szu.monitor.popupActionCommand"
            name="Monitor">
         <defaultHandler
               class="cn.edu.szu.util.OpenDialogHandler">
            <parameter
                  name="Monitor.parameter1"
                  value="Monitor.parameter1">
            </parameter>
         </defaultHandler>
      </command>
   </extension>

</plugin>
